<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login JS</title>
</head>

<body>
    <form action="/editando/{{post.[0].dataValues.id}}" method="post">
        <h2>
            Edidar Contato
        </h2>

        <div class="input">
            <input type="text" required name="nome" value="{{post.[0].dataValues.nome}}">
            <label>Nome</label>
            <span class="error"></span>
        </div>

        <div class="input">
            <input type="email" required name="email" value="{{post.[0].dataValues.email}}">
            <label>Email</label>
            <span class="error"></span>
        </div>
        <button type="submit">Editar</button>
    </form>

    <script src="/js/showMsgField.js"></script>
</body>

</html>